<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        .navbar-blocks {
    list-style: none;
    display: flex;
    gap: 20px;
    background: #333;
    padding: 1rem;
}

.nav-link {
    display: flex;
    align-items: center;
    color: white;
    text-decoration: none;
    transition: color 0.3s;
}

.nav-link:hover {
    color: #007bff;
}

.link-text {
    margin-left: 8px; /* Spaces the text away from the icon */
}
    </style>
</head>
<body>
    <%- include('navbar.ejs') %>
    <h1>Main Page</h1>

    <h1>user name # <%= user.name  %></h1>
</body>
</html>